<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="musicMapper">

	<resultMap id="playList" type="com.group.smm.models.PlayListVO">
		<result property="playListId" column="playlist_id" />
		<result property="playListName" column="playlist_name" />
		<result property="userId" column="user_id" />
	</resultMap>
	
	<resultMap id="listedMusics" type="com.group.smm.models.MusicVO">
		<result property="musicId" column="music_id" />
		<result property="genre" column="genre" />
		<result property="title" column="title" />
		<result property="artistId" column="artist_id" />
		<result property="url" column="url"  />
	</resultMap>

	<!-- 전체 음악 목록 조회  mysql:세미콜론 필요. Oracle:세미콜론 필요없음-->
	<select id="getAllMusic" resultType="com.group.smm.models.MusicVO">
		SELECT * FROM MUSIC ORDER BY MUSIC_ID;
	</select>
	
	<select id="getMusic" parameterType="Integer" resultType="com.group.smm.models.MusicVO">
		SELECT * FROM music WHERE music_id = #{musicId};
	</select>
	
	<select id="getPlayList" parameterType="Integer"
	 resultMap="playList">
		SELECT * FROM playlist where playlist.playlist_id = #{playListId};
	</select>
	
	<select id="getListedMusics" 
	 parameterType="Integer" resultMap="listedMusics">
		SELECT music.* FROM music 
		JOIN playlist_music on music.music_id = playlist_music.music_id
		WHERE playlist_music.playlist_id = #{playListId}
		ORDER BY music.music_id;
	</select>
	
	<select id="getArtist" parameterType="Integer" resultType="com.group.smm.models.ArtistVO">
		SELECT * FROM artist WHERE artist_id = #{artistId};
	</select>
</mapper>















